{
    "tabWidth": 4,
    "useTabs": false,
    "endOfLine": "lf",
    "eslintIntegration": true,
    "jsxBracketSameLine": true,
    "jsxSingleQuote":true,
    "printWidth": 140,
    "singleQuote": true,
    "tslintIntegration": true
}